<div ng-include="'template/_header.html'" ></div>
<div class="container">
  <div class="content">
    Welkom in de escape room!
    <div class="note">Als je de kamer probeert te verlaten gaat het alarm af. De enige manier
    om hier uit te komen is door de puzzel op te lossen. Veel succes!<br><br>
    Let op: het is niet nodig om meubels te verplaatsen of dingen stuk te maken.
      De kaartjes graag laten zitten. Gebruik een kladbok om aantekeningen te maken.
    Druk op de groene knop om verder te gaan.</div>
  </div>
</div>
