* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $hex-body-bg;
  color: pal-color(blue, dark);
  font-family: $font-family;
  font-size: font-size(base);
  font-weight: 100;
  line-height: $line-height;

  &::before {
    display: block;
    position: absolute;
    top: -14vw;
    left: -10vw;
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
    box-shadow: inset 0 0 0 5vw rgba(pal-color(blue, dark), .1);
    content: '';
  }
}

@include heading {
  margin: 0 0 .5em;
  color: $heading-color;
  font-weight: $heading-weight;
  font-family: $heading-font;
}

::selection {
  background-color: emo-color(stable);
  color: pal-color(white);
}

h1 { font-size: heading-size(h1); }

h2 { font-size: heading-size(h2); }

h3 { font-size: heading-size(h3); }

h4 { font-size: heading-size(h4); }

h5 { font-size: heading-size(h5); }

p { margin: 0 0 $content-spacing; }

a {
  color: $anchor-color;
  text-decoration: $anchor-decoration;

  &:focus,
  &:hover {
    color: $anchor-hover-color;
    text-decoration: $anchor-hover-decoration;
  }
}

main {
  font-size: 400%;
  text-align: center;


  .container {
    position: relative;
    max-width: 1000px;
    height: 90vh;
    margin: -77px auto 0;
  }

  .header {
    position: relative;
    z-index: 1;
  }

  .notification {
    position: absolute;
    width: 100%;
    color: pal-color(red);
  }

  .application_logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    padding: 10px;
    background: pal-color(blue, dark);

    svg {
      max-height: 100%;
    }

    path {
      fill: pal-color(gold);
    }
  }

  .content {
    padding-top: 170px;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-transform: uppercase;
  }

  .bold {
    font-weight: 700;
    color: pal-color(gold);
  }

  .square {
    background-color: pal-color(gold);
    float: left;
    height: 50px;
    margin-left: 10px;
    margin-top: 14px;
    width: 50px;
  }

  .text {
    float: left;
    margin-left: 10px;
    height: 80px;
    width: 550px;

    input {
      width: 450px;
      height: 50px;
      margin-top: 15px;
      padding: 0 20px;
      float: right;
      font-size: 30px;
      font-family: $font-family;
      font-weight: 700;
      color: pal-color(gold);
      border: 0;
      box-shadow: inset 0 0 0 1px pal-color(blue, dark);
    }
  }

  .note {
    text-transform: none;
    font-size: 40px;
  }

  .row {
    height: 80px;
  }

  .timer {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px;
    font-size: 60px;
    background: pal-color(blue, dark);
    color: pal-color(white);

    .clock {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin: -10px 0;
      border-radius: 50%;
      box-shadow: inset 0 0 0 9px pal-color(gold);
      animation: rotate 2s infinite linear;

      &::before {
        display: block;
        width: 10px;
        margin-left: 38px;
        height: 100%;
        background: pal-color(blue, dark);
        content: '';
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
